body {
    
    background-image: url("pizzabeige.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(slice.png) 30 round;
}

body > div {
    text-align: center;
    padding: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(.8, .8, .8, 0.5);
    margin: 15px;
    
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
    height: 40vh;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 5;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
.column {
    column-count: 4;
}
.content2 {
    margin-left: 200px;
}

.content1 {
    margin-left: 200px;
    padding-left: 20px;
}
</style>
</head>
<body>

<div class="sidenav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<div class="content">
  <h2>CSS Template</h2>
  <p>A full-height, fixed sidenav and content.</p>
</div>

</body>
</html>
